# Add labels and stages of gene ids to each subtype

In [26]:
# add labels
import pandas as pd
gene_with_NM = pd.read_csv("../data/id_label/image_values_NM_MS.csv")
NM_with_lobe = pd.read_csv("../data/id_label/lobes_gif3_with_labels.csv")
merge = gene_with_NM.merge(NM_with_lobe, left_on="original", right_on="labels")

In [2]:
# EBM stage for all MS Patients
EBM_for_All = pd.read_csv("../data/id_label/EBM_Stages/EBM_for_All_MS_Patients.csv")
EBM_for_All_label = merge.merge(EBM_for_All, left_on="regions", right_on="NM_regions")

In [3]:
# EBM stage for RMS Patients
EBM_for_RMS = pd.read_csv("../data/id_label/EBM_Stages/EBM_for_RMS_Patients.csv")
EBM_for_RMS_label = merge.merge(EBM_for_RMS, left_on="regions", right_on="NM_regions")

In [4]:
# EBM stage for PPMS Patients
EBM_for_PPMS = pd.read_csv("../data/id_label/EBM_Stages/EBM_for_PPMS_Patients.csv")
EBM_for_PPMS_label = merge.merge(EBM_for_PPMS, left_on="regions", right_on="NM_regions")

# correlation analysis for All MS Patients

In [5]:
# load the GE.feather file (This file contains all the gene expression data in the Allen Dataset.)
import feather
GE = feather.read_dataframe("../Allen_data/GE.feather")
GE.set_index('probe_id', inplace=True)
GE.head()

,11281,11305,11289,11335,11319,11263,11326,11318,11310,11302,...,7082,7090,7098,7011,7009,7017,7025,7033,7041,7057
probe_id,,,,,,,,,,,,,,,,,,,,,
1058685,3.501077,4.154173,4.103324,3.962034,3.607175,3.397071,4.238925,3.220545,3.347516,4.094927,...,2.938440,2.912970,2.062344,3.655761,2.715837,4.274668,3.759001,4.903928,4.258150,4.079339
1058684,1.757962,1.775427,1.858134,2.655145,1.896092,1.865290,1.659177,1.867601,1.843686,1.618922,...,1.336530,1.338208,1.317621,1.577733,1.677115,1.279049,1.279049,1.279049,1.279049,1.410152
1058683,1.832017,1.975964,2.030700,1.862528,2.190454,2.049008,1.812967,2.142825,2.101910,1.892518,...,1.408085,1.430103,1.416651,1.691274,1.794972,1.338397,1.279049,1.279049,1.279049,1.561965
1058682,4.682878,5.480787,5.136348,5.477912,5.413002,5.105746,4.917350,5.037718,4.954490,5.064677,...,5.375030,5.398929,4.305211,4.235528,4.032939,4.471348,4.053165,4.226554,4.287815,4.940261
1058681,6.198028,6.838466,6.646096,6.745124,6.366537,6.382501,6.277766,6.840333,7.023353,6.435251,...,6.660846,6.435792,6.539584,6.131654,6.471048,6.130729,6.492402,5.759537,5.760315,6.530532

In [6]:
#load probes for analysis
use_probes = pd.read_csv('../data/probes_for_analysis.csv')
first_n = use_probes.iloc[0:,0]

In [7]:
#select only the first_n probes from GE and transpose the matrix
GE_use = GE.loc[first_n,:]
GE_use_tr = GE_use.T
GE_use_tr.set_index(GE_use_tr.index.values.astype(int), inplace=True)

In [8]:
#merge with the file 'EBM_for_All_label'
merged_data_All = EBM_for_All_label.merge(GE_use_tr, left_on="well_id", right_index=True)
merged_data_All

,well_id,original,lobes,regions,labels,EMB_regions,NM_regions,EBM_Stage,1058685,1058682,...,1071190,1071191,1071192,1071194,1071198,1071200,1071203,1071207,1071208,1071210
0,11065,108.0,Parietal_lobe,AnG_angular_gyrus,108.0,Angular gyrus,AnG_angular_gyrus,16,4.115442,3.884745,...,2.080259,10.452817,2.380987,4.370087,7.107019,11.228189,5.838797,5.083647,5.254828,5.198381
1,126434565,108.0,Parietal_lobe,AnG_angular_gyrus,108.0,Angular gyrus,AnG_angular_gyrus,16,3.356533,5.123807,...,3.870048,5.299671,3.572595,2.442299,8.484143,5.405339,5.788568,4.979639,6.667883,4.895833
2,126435027,108.0,Parietal_lobe,AnG_angular_gyrus,108.0,Angular gyrus,AnG_angular_gyrus,16,2.852963,4.320770,...,2.895549,5.498386,4.294302,3.223294,9.435425,6.305291,5.381978,5.519389,7.546583,5.555689
3,141667103,108.0,Parietal_lobe,AnG_angular_gyrus,108.0,Angular gyrus,AnG_angular_gyrus,16,2.686220,5.012166,...,3.212486,8.459934,4.355044,3.821493,8.250753,9.385456,5.093188,5.596337,6.201361,3.187633
4,141667211,108.0,Parietal_lobe,AnG_angular_gyrus,108.0,Angular gyrus,AnG_angular_gyrus,16,2.728148,4.835902,...,3.100423,10.665937,3.814771,3.223669,7.864309,11.134697,5.340553,5.335239,6.235429,2.902485
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
332,159225850,162.0,Occipital_lobe,OFuG_occipital_fusiform_gyrus,162.0,Occipital fusiform,OFuG_occipital_fusiform_gyrus,15,3.491300,4.394716,...,3.412071,7.318442,4.311246,3.445642,9.130959,7.953822,5.385084,5.502774,7.433254,3.777408
333,159226215,162.0,Occipital_lobe,OFuG_occipital_fusiform_gyrus,162.0,Occipital fusiform,OFuG_occipital_fusiform_gyrus,15,3.750286,4.568288,...,2.412611,8.008531,4.131020,3.941277,9.354809,8.202423,5.572959,5.599326,7.389538,3.503626
334,5168,162.0,Occipital_lobe,OFuG_occipital_fusiform_gyrus,162.0,Occipital fusiform,OFuG_occipital_fusiform_gyrus,15,3.365523,4.325862,...,3.787541,7.301706,3.281410,1.463116,8.621253,7.976418,5.598134,5.464487,6.469730,3.747490
335,5273,162.0,Occipital_lobe,OFuG_occipital_fusiform_gyrus,162.0,Occipital fusiform,OFuG_occipital_fusiform_gyrus,15,3.502799,5.251812,...,2.523510,7.270596,1.457351,3.886024,7.335778,7.752585,5.833094,5.077064,5.492943,4.020793
336,127687556,31.0,DGM,Accumbens_Area,31.0,Accumbens,Accumbens_Area,4,2.075881,4.861676,...,3.010850,8.527119,3.553876,2.489152,8.201050,9.375655,2.856076,3.900377,6.440325,5.436440

In [9]:
# run the correlation analysis
from scipy.stats import spearmanr
result = []
for probe in GE_use_tr.columns:
   r, p = spearmanr(merged_data_All.EBM_Stage, merged_data_All.loc[:,probe])
   result.append([r,p])
resultAll = pd.DataFrame(result, columns=["r","p"],
index=GE_use_tr.columns)
resultAll

                 r         p
probe_id
1058685   0.118751  0.029287
1058682   0.082739  0.129558
1058681   0.045225  0.407922
1058680  -0.007515  0.890673
1058679  -0.018038  0.741451
...            ...       ...
1071200  -0.048367  0.376094
1071203   0.024409  0.655243
1071207  -0.064768  0.235698
1071208   0.038356  0.482830
1071210   0.070305  0.197943

[36657 rows x 2 columns]

In [10]:
gene_name =pd.DataFrame(use_probes, columns=['probe_id','gene_symbol'])

In [11]:
resultAll2 = resultAll.merge(gene_name, left_on="probe_id", right_on="probe_id")

In [12]:
#clean out multi-expressed genes
by_gene = resultAll2.groupby("gene_symbol")
resultAll3 = pd.DataFrame()
for gene, frame in by_gene:
    min_p = min(frame.p)
    tmp = frame[frame.p == min_p]
    resultAll3 = resultAll3.append(tmp)

In [13]:
# arrange the result from small to large
resultAll4 = resultAll3.sort_values(by=['r'], ascending = False)
resultAll4.to_csv("../data/id_label/result_for_All/resultAll4.csv")

In [14]:
resultAll4

       probe_id         r             p gene_symbol
15372   1036268  0.530795  6.883640e-26     SLC22A9
2608    1054175  0.509551  1.147469e-23         MGP
32362   1030058  0.482608  4.603044e-21        KLK8
2288    1054196  0.475637  1.995056e-20         MET
23455   1022660  0.456723  9.044051e-19    SLC22A10
...         ...       ...           ...         ...
6613    1047665 -0.439978  2.184812e-17       RCAN2
29446   1013301 -0.451925  2.293517e-18       CTXN3
9035    1044863 -0.455272  1.200217e-18       HSPB8
24827   1021194 -0.468813  8.117908e-20        SYT6
3166    1052936 -0.522040  5.921959e-25       PRRX1

[19192 rows x 4 columns]

# correlation analysis for RMS Patients

In [15]:
#merge with the file 'EBM_for_RMS_label'
merged_data_RMS = EBM_for_RMS_label.merge(GE_use_tr, left_on="well_id", right_index=True)

In [16]:
# run the correlation analysis
from scipy.stats import spearmanr
result = []
for probe in GE_use_tr.columns:
   r, p = spearmanr(merged_data_RMS.EBM_Stage, merged_data_RMS.loc[:,probe])
   result.append([r,p])
resultRMS = pd.DataFrame(result, columns=["r","p"],
index=GE_use_tr.columns)
resultRMS

                 r         p
probe_id
1058685  -0.000222  0.996686
1058682   0.046078  0.387400
1058681   0.060508  0.256178
1058680  -0.064711  0.224559
1058679  -0.031252  0.557827
...            ...       ...
1071200  -0.102061  0.055050
1071203   0.112944  0.033643
1071207   0.047006  0.377899
1071208  -0.013037  0.806890
1071210   0.017356  0.744868

[36657 rows x 2 columns]

In [17]:
resultRMS2 = resultRMS.merge(gene_name, left_on="probe_id", right_on="probe_id")

In [18]:
#clean out multi-expressed genes
by_gene = resultRMS2.groupby("gene_symbol")
resultRMS3 = pd.DataFrame()
for gene, frame in by_gene:
    min_p = min(frame.p)
    tmp = frame[frame.p == min_p]
    resultRMS3 = resultRMS3.append(tmp)

In [19]:
# arrange the result from small to large
resultRMS4 = resultRMS3.sort_values(by=['r'], ascending = False)
resultRMS4.to_csv("../data/id_label/result_for_RMS/resultRMS4.csv")
resultRMS4

       probe_id         r             p gene_symbol
1041    1057242  0.480783  7.084531e-22       EPHA3
2288    1054196  0.480231  8.008023e-22         MET
15372   1036268  0.444571  1.393906e-18     SLC22A9
23455   1022660  0.401113  4.082202e-15    SLC22A10
12538   1040515  0.398549  6.310890e-15       TSHZ3
...         ...       ...           ...         ...
2122    1054595 -0.372169  4.512182e-13      LGALS1
32128   1024645 -0.373618  3.604293e-13      CSN1S1
5152    1050282 -0.379159  1.510689e-13        ZIC1
27162   1016934 -0.384463  6.470328e-14       CTXN3
30391   1011944 -0.399796  5.108390e-15       CHST8

[19192 rows x 4 columns]

# correlation analysis for PPMS Patients

In [20]:
#merge with the file 'EBM_for_PPMS_label'
merged_data_PPMS = EBM_for_RMS_label.merge(GE_use_tr, left_on="well_id", right_index=True)

In [21]:
# run the correlation analysis
from scipy.stats import spearmanr
result = []
for probe in GE_use_tr.columns:
   r, p = spearmanr(merged_data_PPMS.EBM_Stage, merged_data_PPMS.loc[:,probe])
   result.append([r,p])
resultPPMS = pd.DataFrame(result, columns=["r","p"],
index=GE_use_tr.columns)
resultPPMS

                 r         p
probe_id
1058685  -0.000222  0.996686
1058682   0.046078  0.387400
1058681   0.060508  0.256178
1058680  -0.064711  0.224559
1058679  -0.031252  0.557827
...            ...       ...
1071200  -0.102061  0.055050
1071203   0.112944  0.033643
1071207   0.047006  0.377899
1071208  -0.013037  0.806890
1071210   0.017356  0.744868

[36657 rows x 2 columns]

In [22]:
resultPPMS2 = resultPPMS.merge(gene_name, left_on="probe_id", right_on="probe_id")

In [23]:
#clean out multi-expressed genes
by_gene = resultPPMS2.groupby("gene_symbol")
resultPPMS3 = pd.DataFrame()
for gene, frame in by_gene:
    min_p = min(frame.p)
    tmp = frame[frame.p == min_p]
    resultPPMS3 = resultPPMS3.append(tmp)

In [24]:
# arrange the result from small to large
resultPPMS4 = resultPPMS3.sort_values(by=['r'], ascending = False)
resultPPMS4.to_csv("../data/id_label/result_for_PPMS/resultPPMS4.csv")
resultPPMS4

       probe_id         r             p gene_symbol
1041    1057242  0.480783  7.084531e-22       EPHA3
2288    1054196  0.480231  8.008023e-22         MET
15372   1036268  0.444571  1.393906e-18     SLC22A9
23455   1022660  0.401113  4.082202e-15    SLC22A10
12538   1040515  0.398549  6.310890e-15       TSHZ3
...         ...       ...           ...         ...
2122    1054595 -0.372169  4.512182e-13      LGALS1
32128   1024645 -0.373618  3.604293e-13      CSN1S1
5152    1050282 -0.379159  1.510689e-13        ZIC1
27162   1016934 -0.384463  6.470328e-14       CTXN3
30391   1011944 -0.399796  5.108390e-15       CHST8

[19192 rows x 4 columns]